
  <mat-card class="card-test">
    <mat-card-header>

      <mat-icon mat-card-avatar>info</mat-icon>

      <mat-card-title>Trades</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <app-trades-detail-table [paginatorVisible]="false"></app-trades-detail-table>

    <mat-card-actions style="text-align: center;">
      <a mat-raised-button color="accent" routerLink="/trades">Show all</a>
    </mat-card-actions>

    </mat-card-content>
</mat-card>
