<div class="content" role="main">
<mat-card id="rcorners" class="card-test">
  <mat-card-title>Adjusting the strategy</mat-card-title>
  <mat-divider></mat-divider>

  <mat-card-content>
    <p>Currently the adjustment of the strategy through UI is not possible, however, there is corresponding documentation explaining the process</p>

    <mat-card-title>The details of available strategies</mat-card-title>
    <ul>
      <li>The trend_ema strategy (default)</li>
      <li>The macd strategy </li>
      <li>The rsi strategy</li>
      <li>The sar strategy</li>
      <li>The speed strategy</li>
    </ul>
    <a mat-raised-button color ="accent" href="https://github.com/DeviaVir/zenbot/tree/unstable/docs">Documentation</a>

  </mat-card-content>
</mat-card>
</div>
