<mat-card class="card-test">
  <mat-card-header>

    <mat-icon mat-card-avatar>info</mat-icon>

    <mat-card-title>PERFORMANCE</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="content">

    <h3>Assets growth</h3>
    <h1>+{{performance.growth}}%</h1>
    <h3>Compared to Buyhold</h3>
    <h1>+{{performance.compared}} USDt</h1>
      <h3>Total</h3>
      <h1>+{{performance.total}} USDt</h1>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color ="accent" routerLink="/adjust-strategy" >Adjust the strategy</a>
  </mat-card-actions>
</mat-card>

