
  <mat-card class="card-test">
    <mat-card-header>

      <mat-icon mat-card-avatar>info</mat-icon>
      <mat-card-title>Total Balance</mat-card-title>

    </mat-card-header>
    <mat-divider></mat-divider>
    <app-diagram class="row"></app-diagram>
    <div class="row">

      <div class="column-text">
        <h4>BTC: {{totalBalance?.percentage?.btc || "..." }}%</h4>
      </div>

      <div class="column-text">
        <h4>ETH: {{totalBalance?.percentage?.eth || "..." }}%</h4>
      </div>

      <div class="column-text">
        <h4>ETC: {{totalBalance?.percentage?.etc || "..." }}%</h4>
      </div>

    </div>

    <mat-card-actions>
      <h3>Total</h3>
      <h2>{{totalBalance?.total?.usd || "..." }} USDt</h2>
    </mat-card-actions>
  </mat-card>


