/* You can add global styles to this file, and also import other style files */
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");




  h1,
    h2,
    h3,
    h4,
    h5,
    h6, p {
      padding: 4px 4px;
      margin: 8px;
      color: #101A35;

    }

    h1,
    h2 {
      color: #FF6635;
    }


 svg#coin {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

.content {
  display: flex;
  margin: 80px auto 80px;
  padding: 16px 16px;
  max-width: 1260px;
  flex-direction: column;
  justify-content:center;
}

.rcorners {
  border-radius: 30px;
   padding:24px;
}

.card-test{
 min-width: 350px;
 min-height: 600px;
}

.card-test:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-test:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1)

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.column {
  float: left;
  padding: 10px;
}
.column-text {
  float: left;
  width: 33.33%;
}
.column-two {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.mat-icon {
  font-size: 50px;
  color: #CED2D2;

}

mat-icon.mat-card-avatar {
  padding: 10px;
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: white;
  height: auto;
  width: 350px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  }

.mat-card-title {
  margin-top: 20px;
  color: #101A35;
}
.mat-card {
  border-radius: 30px !important;
}

.mat-card-header {
  padding: 20px;
}
