/* You can add global styles to this file, and also import other style files */
  @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


  h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }

    p {
      padding: 8px 8px;
    }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }



body {
  background-color: #F9F9F9;
}

 svg#coin {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

.content {
  display: flex;
  margin: 80px auto 80px;
  padding: 0 16px;
  max-width: 1260px;
  flex-direction: column;
  justify-content:center;
}

#rcorners {
  border-radius: 30px;
   padding:24px;
}

.card-test{
 min-width: 350px;
 min-height: 500px;
}

.card-test:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-test:active {
  transform: translateY(3px);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1)

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.column {
  float: left;
  padding: 10px;
}
.column-text {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .card {
      border-radius: 20px;
      border: 1px solid #eee;
      background-color: white;
      height: auto;
      width: 350px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

